<!doctype html>
<html ng-app="myApp">
    <head>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/style.css">

    </head>

    <body>
        <div>
            <ul class="nav nav-pills" id="nav">
                <li><a href="#pos">POS</a></li>
                <li><a href="#new_vendor">New Vendor Entry</a></li>
                <li><a href="#new_item">New Item Entry</a></li>
                <li><a href="#current_vendor_list">Current Vendor List</a></li>
                <li><a href="#current_item_list">Current Item List</a></li>
                <li><a href="#monthly_sales">Monthly Sales</a></li>
                <li><a href="#vendor_sales">Vendor Sales</a></li>
            </ul>
        </div>

        <div>
            <main ng-view></main>
        </div>


        <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>

        <script type="text/javascript" src="/javascripts/app.min.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/itemList.min.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/monthlySales.min.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/newItem.min.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/newVendor.min.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/pos.min.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/vendorList.min.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/vendorSales.min.js"></script>

    </body>
</html>