<section ng-controller="NewItemController">
    <div class="fluid-container well" style="text-align:center; background-color: #00B7FF; color: white">Current Item List</div>
    <br/>
    <table>
        <tr>
            <td align="right">Search :</td>
            <td><input ng-model="query[queryBy]" /></td>
        </tr>
        <tr>
            <td align="right">Search By :</td>
            <td>
                <select ng-model="queryBy">
                    <option value="$"></option>
                    <option value="vendor">Vendor</option>
                    <option value="itemName">Item Name</option>
                    <option value="itemType">Item Type</option>
                </select>
            </td>
        </tr>
    </table>
    <!--Search: <input ng-model="query">-->
    <br/>
    <table>
        <tr>
            <th>Item ID</th>
            <th>Vendor</th>
            <th>Type</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Consignment Rate</th>
            <th>Consignment Price</th>
            <th>Remove/Edit</th>
        </tr>
        <tr ng-repeat="item in items | filter:query | orderBy:orderProp">
            <td><p>{{item._id}}</p></td>
            <td><p>{{item.vendor}}</p></td>
            <td><p>{{item.itemType}}</p></td>
            <td><p>{{item.itemName}}</p></td>
            <td><p>{{item.description}}</p></td>
            <td><p>{{item.quantity}}</p></td>
            <td><p>${{item.price}}</p></td>
            <td><p>{{item.consignRate}}%</p></td>
            <td><p>${{item.price * item.consignRate/100}}</p></td>
            <td><button ng-click="remove(item)" style="display:inline">remove</button><button ng-click="edit(item)" style="display:inline">edit</button></td>
        </tr>
    </table>
</section>
