<section ng-controller="NewItemController">
    <div class="fluid-container well" style="text-align:center; background-color: #00B7FF; color: white">Enter a New Item</div>
    <br/>
    <form name="newItem" novalidate ng-submit="onSubmit()">
        <select ng-model="item.itemType">
            <option value="" disabled="disabled" selected="selected">Item Type</option>
            <option value="APPAREL">Apparel</option>
            <option value="JEWELRY">Jewelry</option>
            <option value="ACCESSORY">Accessory</option>
            <option value="GIFT">Gift</option>
            <option value="ART">Art</option>
            <option value="MISC">Misc</option>
            <option value="HOLIDAY">Holiday</option>
        </select>


        <section ng-controller="NewVendorController">
            <div class="vendorList">
                <select ng-model="item.vendor">
                    <option value="" disabled="disabled" selected="selected">Vendor</option>
                    <option ng-repeat="vendor in vendors" ng-model="item.vendor" value="{{vendor.company}}">{{vendor.company}}</option>
                </select>
            </div>
        </section>


        <div>
            <input type="text" ng-model="item.itemName" placeholder="Item Name">
        </div>

        <div>
            <textarea ng-model="item.description" cols="25" rows="5" placeholder="Description"></textarea><br>
        </div>

        <div>
            <input type="number" ng-model="item.quantity" placeholder="Quantity">
        </div>

        <div>
            <input type="number" ng-model="item.price" placeholder="Price">
        </div>

        <div>
            <input type="number" ng-model="item.consignRate" placeholder="Consignment Rate">
        </div>

        <div>
            <p ng-model="item.consignPrice">Consignment Price: ${{item.price * item.consignRate/100}}</p>
        </div>

        <input type="submit" ng-click="add(item)" id="save" value="Save"/>
        <input type="reset" id="cancel" value="Cancel"/>

    </form>
</section>