body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table{
  float: left;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  border: 1px solid black;
}

td{
  border: 1px solid black;
  width: 200px;
}

tr{
  border: 1px solid black;
}