<section ng-controller="PosController">
    <div class="fluid-container well" style="text-align:center; background-color: #00B7FF; color: white">Make a Sale</div>
<br/>
    <div class = "fluid-container well" id="main">

        <form name="itemGet" novalidate ng-submit="getByID()">
            <input type = "search" ng-model="inputId" name = "enter" placeholder = "Enter Item # Here" style="display: inline">
            <input type="submit" id="save" value="Add"  style="display: inline"/>
            <input type="reset" id="clear" value="Clear" style="display: inline"/>
        </form>
        <br/>
        <br/>
        <br/>

        <table>
            <tr>
                <th>Item ID</th>
                <th>Vendor</th>
                <th>Type</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="item in items">
                <td><p>{{item._id}}</p></td>
                <td><p>{{item.vendor}}</p></td>
                <td><p>{{item.itemType}}</p></td>
                <td><p>{{item.itemName}}</p></td>
                <td><p>${{item.price}}</p></td>
                <td><input type="button" data-ng-click="removeRow($index)" value="remove"/></td>
            </tr>
        </table>
    </div>

    <div class = "checkout_shit">
        <div class = "col-md-offset-1 col-md-2 well" id="blah">
            <!--<input type = "number" name = "discount" placeholder = "discount">-->
            <!--<p>sales tax: {{tax}}</p>-->
            <p>Total: $ {{total}}</p>
            <p style="display: inline">Checkout: </p><input type="checkbox" ng-model="checkout" value="Checkout"/>
        </div>

        <div class="check-element animate-show" ng-show="checkout">
            <div class = "col-md-2 well" id="blah">
                <p style="display: inline">Cash: </p><input type="checkbox" ng-model="cash" value="Cash"/>
                <br/>
                <p style="display: inline">Credit: </p><input type="checkbox" ng-model="credit" value="Credit"/>
                <br/>
                <p style="display: inline">Payout: </p><input type="checkbox" ng-model="payout" value="Cash"/>
                <!--<br/>-->
                <!--<p style="display: inline">Cancel: </p><input type="checkbox" ng-model="cancel" value="Cancel"/>-->
            </div>

            <div class="check-element animate-show" ng-show="cash">
                <div class = "col-md-2 well" id="blah">
                    <h5>Cash</h5>
                    <input type="text" ng-model="cashGiven" placeholder="Cash Given"/>
                    <br/>
                    <p>total: ${{total}}</p>
                    <input type="button" data-ng-click="changeFunc()" value="Tender">
                    <br/>
                    <p>change: ${{change}}</p>
                </div>
            </div>

            <div class="check-element animate-show" ng-show="credit">
                <div class = "col-md-2 well" id="blah">
                    <h5>Credit</h5>
                    <p>total: ${{total}}</p>
                    <input type="submit" id="visa" value="Visa"/>
                    <br/>
                    <input type="submit" id="amex" value="Amex"/>
                    <br/>
                    <input type="submit" id="discover" value="Discover"/>
                    <br/>
                    <input type="submit" id="mc" value="MasterCard"/>
                </div>
            </div>

            <div class="check-element animate-show" ng-show="payout">
                <div class = "col-md-2 well" id="blah">
                    <h5>Payout</h5>
                    <p>total: ${{total}}</p>
                    <input type = "text" name = "artist" placeholder = "Vendor Name">
                    <input type = "text" name = "employee" placeholder = "Employee Name">
                    <br/>
                    Cash <input type = "checkbox" ng-model="cashChecked" name = "cash">
                    Check <input type = "checkbox" ng-model="checkChecked" name = "check">
                    <input type = "text" name = "checkNum" placeholder = "Check Number">
                </div>
            </div>
        </div>
    </div>

</section>